@use "Styles/Layout";
@use "Styles/Colors";

$radius: 38px;
$padding: 5px;

$size: $radius - $padding;
$half-size: $size * 0.5;

$margin-hour: $half_size * 0.25;
$margin-minute: $half_size * 0.125;
$margin-second: 0;

$border-hour: 1px;
$border-minute: 0.5px;
$border-second: 0;

$color-bg: Colors.$background;
$color-rim: Colors.$current-line;
$color-hour: Colors.$purple;
$color-minute: Colors.$pink;
$color-second: Colors.$cyan;

.Clock .rim {
    border-radius: $size;
    border: 2px solid $color-rim;
    padding: 2px;
}

.Clock .face {
    min-width: $size;
    min-height: $size;
}

.Clock .hand {
    min-width: 1px;
}

.Clock .hand.hour {
    margin-top: $margin-hour;
    background-color: $color-hour;
    border: $border-hour solid $color-hour;
    border-radius: $radius;
    min-height: $half-size - $margin-hour - $border-hour;
}

.Clock .hand.minute {
    margin-top: $margin-minute;
    background-color: $color-minute;
    border: $border-minute solid $color-minute;
    border-radius: $radius;
    min-height: $half-size - $margin-minute - $border-minute;
}

.Clock .hand.second {
    margin-top: $margin-second;
    background-color: $color-second;
    border: $border-second solid $color-second;
    border-radius: $radius;
    min-height: $half-size - $margin-second - $border-second;
}
