@use "../Styles/Colors";

$corner-color: black;
$corner-radius: 32px;

.Corner {
  background: transparent;
}

.Corner {
    min-width: $corner-radius;
    min-height: $corner-radius;
}

.Corner.tl {
    background-image: radial-gradient(at bottom right,
                                      transparent 0,
                                      transparent $corner-radius,
                                      $corner-color $corner-radius);
}

.Corner.tr {
    background-image: radial-gradient(at bottom left,
                                      transparent 0,
                                      transparent $corner-radius,
                                      $corner-color $corner-radius);
}

.Corner.bl {
    background-image: radial-gradient(at top right,
                                      transparent 0,
                                      transparent $corner-radius,
                                      $corner-color $corner-radius);
}

.Corner.br {
    background-image: radial-gradient(at top left,
                                      transparent 0,
                                      transparent $corner-radius,
                                      $corner-color $corner-radius);
}
