@use "../Styles/Colors";

.Dock {
  opacity: 0.8;
  margin: 0;
  padding: 10px;
}

.Cpu {
  color: Colors.$green;
}

.Ram {
  color: Colors.$yellow;
}

.Gpu {
  color: Colors.$orange;
}

.Vram {
  color: Colors.$red;
}
