@use "../Styles/Colors";
@use "../Styles/Layout";

.Minibuffer {
  background-color: rgba(#282A36, 0.2);
  border: 2px solid rgba(#BD93F9, 0.8);
  border-radius: 28px;
  padding: Layout.$padding;
  color: Colors.$foreground;
}

.Minibuffer entry {
    border-radius: 512px;
    margin-top: Layout.$padding;
}
